<div
  class="card-category big"
  style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path 'movie-bg.png' %>)"
>
  <h1>My movies</h1>
  <p><em>A curated list by Ricardo</em></p>
</div>

<%#= cl_image_tag "z8poxv3m7fc8hf2izn3k", width: "300" %>
<%#= cl_image_tag "fofmyyvnwc7fv9mwvzem",
width: 150,
height: 150,
crop: :thumb,
gravity: :face %>

  <div class="container">
    <div class="d-flex justify-content-end my-4">
      <%= link_to new_list_path, class: "btn btn-primary btn-lg" do %>
        <i class="fa-solid fa-plus"></i>
        Add new list
      <% end %>
    </div>

    <div class="row">
      <% @lists.each do |list| %>
        <div class="col-3">
          <%= render list %>
        </div>
      <% end %>
    </div>
  </div>
