<div class="container my-4">
  <h1>New list</h1>

  <div class="mt-3">
    <%= simple_form_for @list do |f| %>
      <%= f.input :name %>

      <div class="form-actions">
        <%= link_to "Cancel", lists_path, class: "btn btn-outline-secondary btn-lg me-2" %>
        <%= f.submit class: "btn btn-primary btn-lg" %>
      </div>
    <% end %>
  </div>
</div>
